<div class='dashboard-container'>
    <!-- <nav class="navbar">
        <div>
            <img src="./IMlogo.png" alt="InvestMateLogo" height="100">
            <h4>InvestMate</h4>
        </div>
        <ul>
            <li><a class="text-decoration-none" [routerLink]="['/dashboard']">Home</a></li>
            <li><a class="text-decoration-none" [routerLink]="['/stocks']">Stocks</a></li>
            <li><a class="text-decoration-none" [routerLink]="['/portfolio']" style="margin-right: 750px;">Portfolio</a></li>
         

            <li class="dropdown" style="margin-left:-40px ;">
                <div class="profile-avatar" (click)="toggleDropdown()">
                    <img [src]="userDetails?.profilePicture || 'default-avatar.png'" alt="">
                </div>
                <div class="dropdown-menu" [class.show]="dropdownOpen">
                <a (click)="openUserDetailsDialog()">User Details</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </li>
        </ul>
    </nav> 


    <div *ngIf="showUserDetailsDialog" class="dialog-overlay">
        <div class="dialog-content">
            <h2>User Details:</h2>
            <div *ngIf="userDetails">
                <p><strong>Username:</strong> {{ userDetails.username }}</p>
                <p><strong>Email:</strong> {{ userDetails.email }}</p>
                <p><strong>First Name:</strong> {{ userDetails.firstName }}</p>
                <p><strong>Last Name:</strong> {{ userDetails.lastName }}</p>
                <p><strong>Date of Birth:</strong> {{ userDetails.dateOfBirth | date }}</p>
                <p><strong>Address:</strong> {{ userDetails.address }}</p>
                <p><strong>Phone Number:</strong> {{ userDetails.phoneNumber }}</p>
                <p><strong>Registration Date:</strong> {{ userDetails.registrationDate | date }}</p>
            </div>
            <button (click)="closeUserDetailsDialog()">Close</button>
        </div>
    </div> -->
  <div class="main div">
    <div class='dashboard-header'>
        <div class='dashboard-header-title'>Welcome, {{userDetails?.firstName}} {{userDetails?.lastName}}  to InvestMate </div>
        <div class='dashboard-header-caption'>Buy the dip, Sell the rip!</div>
    </div> <br>
    
    <!-- DASHBOARD BODY -->
    <div class='dashboard-body'>

        <!-- LEFT SECTION -->
        <div class='dashboard-body-left-section'>
            <div class='dashboard-portfolio-container'>
                <div class='dashboard-portfolio-header'>
                    <div class='dashboard-body-title'>My Portfolios</div>
                    <div class='dashboard-body-link'>
                        <a routerLink="/portfolio">See All</a>
                    </div>
                </div>
                <div class='dashboard-portfolio-cards'>
                    <div class='dashboard-portfolio-card' *ngFor="let portfolio of portfolioData">
                        <mat-icon>offline_bolt</mat-icon>
                        <div style="display: flex; flex-direction: column; width: 100%;">
                            <div class='portfolio-header'>{{portfolio.portfolioName}}</div>
                            <div class='portfolio-body'>
                                <div class='portfolio-body-balance'>${{portfolio.totalBalance.toFixed(2)}}</div>
                                <div [ngClass]="{'portfolio-body-returns-gain': portfolio.totalReturns > 0, 'portfolio-body-returns-loss': portfolio.totalReturns <= 0}">
                                    {{ portfolio.totalReturns | currency:'USD' }}
                                  </div>
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='dashboard-learn-container'>
                <div class='dashboard-body-title'>Get Started</div>
                <div class='dashboard-learn-body'>
                    <div class='learn-body-content'>Embark on your wealth journey with tailored content to kickstart your success.</div>
                    <div class='learn-body-button'>
                        <a href="https://www.binance.com/en/square/news/all?ads=true&utm_source=googleadwords_int&utm_medium=cpc&ref=WMNC7PBZ&gad_source=1&gclid=CjwKCAjw59q2BhBOEiwAKc0ijXgghs-trQim4QWckTdb6Vkh_V6WNIJHg9uTuyT17E0KQFx26KVBhxoCfLYQAvD_BwE" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
 
        <!-- RIGHT SECTION -->
        <div class='dashboard-body-right-section'>
            <ng-container *ngIf="loading; else content">
                <div class='loader'>
                    <mat-spinner diameter="20" color="primary"></mat-spinner>
                    <div class='loader-caption'>Setting everything up for you</div>
                </div>
            </ng-container>
            <ng-template #content>
                <div style="display: flex; gap: 30px;">
                   
                    <div class='dashboard-top-coins-container'>
                        <div class='dashboard-body-title'>Top Cryptocurrencies</div>
                        <mat-table [dataSource]="marketData" (matRowClick)="handleRowClick($event)">
                            <ng-container matColumnDef="rank">
                                <mat-header-cell *matHeaderCellDef>Rank #</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.market_cap_rank}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef>NAME</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <div style="display: flex; align-items: center; gap: 15px;">
                                        <img [src]="element.image" alt="{{element.name}}" height="20"/>
                                        <div class="stock-name-container">
                                            <div class="stock-name">{{element.name}}</div>
                                            <div class="stock-symbol" style="text-transform: uppercase;">{{element.symbol}}</div>
                                        </div>
                                    </div>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="price">
                                <mat-header-cell *matHeaderCellDef>PRICE</mat-header-cell>
                                <mat-cell *matCellDef="let element">${{numberWithCommas(element.current_price)}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="change24h">
                                <mat-header-cell *matHeaderCellDef>Day %</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <div [ngStyle]="{'color': element.price_change_percentage_24h > 0 ? '#16C784' : '#EA3943'}">
                                        {{formatPercentage(element.price_change_percentage_24h)}}%
                                      </div>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="change7d">
                                <mat-header-cell *matHeaderCellDef>Week %</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <div [ngStyle]="{'color': element.price_change_percentage_7d_in_currency > 0 ? '#16C784' : '#EA3943'}">
                                        {{formatPercentage(element.price_change_percentage_7d_in_currency)}}%
                                      </div>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="handleRowClick(row)"></mat-row>
                        </mat-table>
                    </div>
                    <div class='dashboard-trending-container'>
                        <div class='dashboard-body-title'>Top Trending Coins </div>
                        <div class='dashboard-trending-cards'>
                            <div class='dashboard-trending-card' *ngFor="let coin of trendingData" (click)="navigateToCoinDetail(coin)">
                                <div class='trending-card-header'>
                                    <div class='trending-card-header-image'>
                                        <img [src]="coin.large" alt="{{coin.name}}" height="25"/>
                                    </div>
                                    <div style="display: flex; flex-direction: column;">
                                        <div style="font-weight: 600; color: #0658f6; font-size: 13px;">{{coin.name}}</div>
                                        <div style="margin-top: -5px; font-weight: 600; color: #828282; font-size: 11px;">
                                            {{coin.symbol}}
                                        </div>
                                    </div>
                                </div>
                                <div class='trending-card-body'>
                                    <div style="display: flex; align-items: center; gap: 5px;">
                                        <div style="font-weight: 600; color: #828282; font-size: 12px;">Market Rank</div>
                                        <div style="font-weight: 600; color: #2c2c2c; font-size: 12px;">
                                            {{coin.market_cap_rank}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
