<!-- <div *ngIf="portfolios.length === 0" class="no-portfolio-div">
  <h4 class="no-portfolio">No Portfolio to be display</h4>
  <span>Create a new portfolio to get started</span>
  <button mat-raised-button color="primary" (click)="openAddPortfolioDialog()">
    <mat-icon>add</mat-icon> Create Portfolio
  </button>
</div>

<div *ngIf="portfolios.length > 0" class="portfolio-container">
  <div class="sidebar-portfolio-container">
    <mat-list>
      <mat-list-item class="navItem-portfolio-container avatar-portfolio-container">
        <span matListItemTitle>My Portfolios</span>
        <button mat-icon-button (click)="openAddPortfolioDialog()" matTooltip="Create a new portfolio">
          <mat-icon>add_circle</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item *ngFor="let portfolio of portfolios; let i = index"
                     [ngClass]="{'selected-portfolio-container': selectedIndex === i}"
                     class="navItem-portfolio-container avatar-portfolio-container">
        <img matListItemAvatar [src]="'https://avatars.dicebear.com/api/initials/' + portfolio.investmentAgenda + '.svg'" alt="Avatar">
        <div class="item-portfolio-container avatarItem-portfolio-container">
          <div (click)="handleListItemClick(i)">
            <a [routerLink]="['/portfolio/stock', portfolio.portfolioId]">
              <span matListItemTitle [ngClass]="{'selected-portfolio-container': selectedIndex === i}">
                {{portfolio.portfolioName}}
              </span>
            </a>
            <span matListItemLine [ngClass]="{'selected-portfolio-container': selectedIndex === i}">
              {{portfolio.investmentAgenda}}
            </span>
          </div>
          <div class="item-icons-portfolio-container">
            <button mat-icon-button (click)="openEditPortfolioDialog(portfolio)" matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="openDeletePortfolioDialog(portfolio.portfolioId)" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <router-outlet></router-outlet>
</div> -->



<!-- No Portfolio Container -->
<div *ngIf="portfolios.length === 0" class="no-portfolio-container">
  <h4 class="no-portfolio-heading">No Portfolios to Display</h4>
  <span class="no-portfolio-message">Create a new portfolio to get started</span>
  <button mat-raised-button color="primary" (click)="openAddPortfolioDialog()" class="create-portfolio-button">
    <mat-icon>add</mat-icon> Create Portfolio
  </button>
</div>

<!-- Portfolio Container -->
<div *ngIf="portfolios.length > 0" class="portfolio-container">
  <div class="sidebar-portfolio-container">
    <mat-list>
      <mat-list-item class="mat-list-header">
        <span matListItemTitle>My Portfolios</span> 
        <button mat-icon-button (click)="openAddPortfolioDialog()" matTooltip="Create a new portfolio" class="add-portfolio-button">
          <!-- <mat-icon>add_circle</mat-icon> -->
        </button>
      </mat-list-item>

      <mat-list-item *ngFor="let portfolio of portfolios; let i = index"
                     [ngClass]="{'selected-portfolio': selectedIndex === i}"
                     class="mat-list-item">
        <img matListItemAvatar [src]="'https://avatars.dicebear.com/api/initials/' + portfolio.investmentAgenda + '.svg'" alt="Avatar" class="portfolio-avatar">
        <div class="portfolio-item-content">
          <div (click)="handleListItemClick(i)" class="portfolio-item-info">
            <a [routerLink]="['/portfolio/stock', portfolio.portfolioId]" class="portfolio-link">
              <span matListItemTitle [ngClass]="{'selected-portfolio-title': selectedIndex === i}">
                {{portfolio.portfolioName}}
              </span>
            </a>
            <span matListItemLine [ngClass]="{'selected-portfolio-line': selectedIndex === i}">
              {{portfolio.investmentAgenda}}
            </span>
          </div>
          <div class="portfolio-item-actions">
            <button mat-icon-button (click)="openEditPortfolioDialog(portfolio)" matTooltip="Edit" class="action-button">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="openDeletePortfolioDialog(portfolio.portfolioId)" matTooltip="Delete" class="action-button">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <router-outlet></router-outlet>
</div>
